version: '3'
services:
  app:
    restart: always
    image: newProject:1
    logging:
      driver: "json-file"
      options:
        max-size: "3M"
        max-file: "3"
    environment:
      - TZ=Asia/Taipei

    ports:
      - 9091:9090
      - 6060:6060