#Opensearch 
opensearch:
  index: "lex-test12" #opensearch index
  One:
    host: ["https://10.11.233.102:9200"]
    username: "admin"
    password: "systex123!"

#RabbitMQ
rabbitMQ:
  One:
    host: ["10.11.233.203:5672"] # RabbitMQ host
    username: "admin"
    password: "admin123"
    RabbitMQExchange: "format" # Exchange
    RabbitMQRoutingKey: "format" # RoutingKey
    enable: false


#Const
const:
  httpRetrySecond: 5
  debug: false
  maxGoroutines: 500
  http_server_port: "8081"
  insert_interval: 15
  bufferSize: 500